<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="exceptionHandling" type="Microsoft.Practices.EnterpriseLibrary.ExceptionHandling.Configuration.ExceptionHandlingSettings, Microsoft.Practices.EnterpriseLibrary.ExceptionHandling, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections> 
  <exceptionHandling>
    <exceptionPolicies>      
      <add name="Exception Replace Policy">
        <exceptionTypes>
          <add type="System.Exception, mscorlib, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
						postHandlingAction="ThrowNewException" name="Exception">
            <exceptionHandlers>
              <add type="TCS.HIS.Common.ExceptionHandling.CustomReplaceHandler, TCS.HIS.Common.ExceptionHandling, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"
								name="CustomReplaceHandler Handler"  
                ExternalizedSource="File"  
                ExternalizedExceptionsFileName="C:\VSS-NewArch\eHIS\eHISAmbulance\XMLs\AmbulanceErrorCodes.xml" 
                DefaultMessage="Error Occured contact administrator"/>
            </exceptionHandlers>
          </add>
        </exceptionTypes>
      </add>      
    </exceptionPolicies>
  </exceptionHandling>
</configuration>