<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
    <sources>
      <add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" filePath="ApplicationBlocks.config"/>
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <appSettings>
    <add key="ReplacePolicy" value="Exception Replace Policy"/>
    <add key="WARDSConfigXmlFilePath" value="C:\eHISCode-BaseLine\eHISServices\eHISApplicationConfigXmlFileServices\Wards\eHISConfiguration.xml"/>
    <add key="ReduceTime" value="1"/>
    <!--<add key="WARDSConfigXmlFilePath" value="C:/eHISApplicationConfigXmlFilePath/WARDS/eHISConfiguration.xml"/>-->
  </appSettings>
  <connectionStrings>
    <add name="WardsConnectionString" connectionString="Data Source = aplthyd3; User Id = Wards; Password = waerdssi1t;" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <!--<connectionStrings/>-->
  <!--<system.serviceModel>
    <services>
      -->
  <!-- Before deployment, you should remove the returnFaults behavior configuration to avoid disclosing information in exception messages -->
  <!--
      <service name="MyService" behaviorConfiguration="returnFaults">
        <endpoint contract="IMyService" binding="wsHttpBinding"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="returnFaults" >
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="SMDiagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Microsoft.Transactions.Bridge, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <!--<add assembly="Oracle.DataAccess, Version=2.102.2.20, Culture=neutral, PublicKeyToken=89B483F429C47342"/>-->
        <!--<add assembly="Oracle.DataAccess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>-->
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.IdentityModel.Selectors, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WardsServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!-- 
          The serviceMetadata behavior allows one to enable metadata (e.g. WSDL, Policy) publishing.
          This configuration enables publishing of such data over HTTP GET.
          -->
          <serviceMetadata httpGetEnabled="true"/>
          <serviceCredentials>
            <!-- 
            The serviceCredentials behavior allows one to define validation parameters for issued tokens.
            This configuration adds the "STS" certificate to a list of known certificates. This
            means that the service will accept tokens issued by "STS".
            -->
            <issuedTokenAuthentication>
              <knownCertificates>
                <add storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindBySubjectDistinguishedName" findValue="CN=STS"/>
              </knownCertificates>
            </issuedTokenAuthentication>
            <!-- 
            The serviceCredentials behavior allows one to define a service certificate.
            A service certificate is used by a client to authenticate the service and provide message protection.
            This configuration references the "localhost" certificate installed during setup of the sample.
            -->
            <serviceCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySerialNumber" findValue="17B3CFCC92EC82AF4D880B8A64F9C9F0"/>
          </serviceCredentials>
          <!--<serviceAuthorization serviceAuthorizationManagerType="eHIS.Registration.ServiceImplementation.PatientRegistartionManagerAuthorizer, eHIS.Registration.ServiceImplementation" principalPermissionMode="Custom"/> -->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="eHIS.Wards.ServiceImplementation.WardsManager" behaviorConfiguration="WardsServiceBehaviour">
        <endpoint address="http://localhost:2221/WardsManager.svc" binding="wsFederationHttpBinding" bindingConfiguration="ApolloFederationBinding" contract="eHIS.Wards.ServiceContracts.IWardsManager"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="transactionalWsatHttpBinding" transactionFlow="true"/>
      </wsHttpBinding>
      <wsFederationHttpBinding>
        <!-- Service binding using SAML and symmetric proof keys -->
        <binding name="ApolloFederationBinding" transactionFlow="true" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Message">
            <message issuedKeyType="SymmetricKey" issuedTokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1">
              <issuerMetadata address="http://172.25.157.2:8383/EHISSECURITYSERVICE/SecurityManager.svc/mex">
                <identity>
                  <certificateReference storeLocation="CurrentUser" storeName="TrustedPeople" x509FindType="FindBySubjectDistinguishedName" findValue="CN=STS"/>
                </identity>
              </issuerMetadata>
            </message>
          </security>
        </binding>
      </wsFederationHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>