<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
    <sources>
      <add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" filePath="ApplicationBlocks.config"/>
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <appSettings>
    <add key="ReplacePolicy" value="Exception Replace Policy"/>
    <add key="HostedEnvironment" value="MUM_QR_DEVORC" />
    <add key="IsServiceLocatorCache" value="True"/>
    <add key="ServiceLocatorFilePath" value="D:/Apollo_Sep_29/PathConfigs/eHISAppConfigXmlFilePath-MUM-MOCK - UATDB\Admin\ServiceLocatorFile.xml" />
   

  </appSettings>
	
	
  <connectionStrings>
    <!--<add name="eHisDatabase" connectionString="Data Source = ORCL; User Id = ehis; Password = ehisarch" providerName="System.Data.OracleClient"/>-->
    <add name="eHisDatabase" connectionString="Data Source = (DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.6.50.7)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=EHISMUM))); User Id =SECURITYTEST_64_MPROD; Password = SECURITYTEST_64_MPROD; Pooling=true; Max pool size=100; Min pool size=1; Incr Pool Size = 5;Decr Pool Size = 3;Connection Timeout=15; Connection Lifetime=0;" providerName="System.Data.OracleClient"/>
    <add name="ESConnectionString" connectionString="Data Source = (DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.6.50.7)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=EHISMUM))); User Id =ES_MPROD; Password = ES_MPROD; Pooling=true; Max pool size=100; Min pool size=1; Incr Pool Size = 5;Decr Pool Size = 3;Connection Timeout=15; Connection Lifetime=0;" providerName="System.Data.OracleClient"/>
  </connectionStrings>
  <!--<system.serviceModel>
    <services>
      -->
  <!-- Before deployment, you should remove the returnFaults behavior configuration to avoid disclosing information in exception messages -->
  <!--
      <service name="MyService" behaviorConfiguration="returnFaults">
        <endpoint contract="IMyService" binding="wsHttpBinding"/>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="returnFaults" >
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>-->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="SMDiagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <!--<add assembly="Oracle.DataAccess, Version=2.102.2.20, Culture=neutral, PublicKeyToken=89B483F429C47342"/>-->
        <add assembly="Microsoft.Transactions.Bridge, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.IdentityModel.Selectors, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="ESServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!-- 
          The serviceMetadata behavior allows one to enable metadata (e.g. WSDL, Policy) publishing.
          This configuration enables publishing of such data over HTTP GET.
          -->
          <serviceMetadata httpGetEnabled="true"/>
          <serviceCredentials>
            <!-- 
            The serviceCredentials behavior allows one to define validation parameters for issued tokens.
            This configuration adds the "STS" certificate to a list of known certificates. This
            means that the service will accept tokens issued by "STS".
            -->
            <issuedTokenAuthentication audienceUriMode="BearerKeyOnly">
              <allowedAudienceUris>
                <add allowedAudienceUri="http://localhost/eHISESSERVICE/ESManager.svc" />
              </allowedAudienceUris>
              <knownCertificates>
                <add storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindBySubjectDistinguishedName" findValue="CN=STS"/>
              </knownCertificates>
            </issuedTokenAuthentication>
            <!-- 
            The serviceCredentials behavior allows one to define a service certificate.
            A service certificate is used by a client to authenticate the service and provide message protection.
            This configuration references the "localhost" certificate installed during setup of the sample.
            -->
            <serviceCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySerialNumber" findValue="63c640a4f668698d4f79d063b790d93d"/>
          </serviceCredentials>
          
          <!--<serviceAuthorization serviceAuthorizationManagerType="eHIS.Registration.ServiceImplementation.PatientRegistartionManagerAuthorizer, eHIS.Registration.ServiceImplementation" principalPermissionMode="Custom"/> -->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="eHIS.ES.ServiceImplementation.ESManager" behaviorConfiguration="ESServiceBehaviour">
        <endpoint address="http://localhost/eHISESSERVICE/ESManager.svc" binding="wsFederationHttpBinding" bindingConfiguration="ApolloFederationBinding" contract="eHIS.ES.ServiceContracts.IESManager"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="transactionalWsatHttpBinding" transactionFlow="true"/>
      </wsHttpBinding>
      <wsFederationHttpBinding>
        <!-- Service binding using SAML and symmetric proof keys -->
        <binding name="ApolloFederationBinding" transactionFlow="true">
          <security mode="Message">
            <message issuedKeyType="SymmetricKey" issuedTokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1">
              <!-- Metadata address for Security Token Service -->
              <issuerMetadata address="http://10.6.50.5:8385/ESManager.svc/mex">
                <identity>
                  <certificateReference storeLocation="CurrentUser" storeName="TrustedPeople" x509FindType="FindBySubjectDistinguishedName" findValue="CN=STS"/>
                </identity>
              </issuerMetadata>
            </message>
          </security>
        </binding>
      </wsFederationHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>