<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
    <sources>
      <add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" filePath="ApplicationBlocks.config"/>
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <appSettings>
    <!--<add key="ReplacePolicy" value="Exception Replace Policy"/>
    <add key="ATService" value="http://01HW107420:8383/EHISATSERVICE/PatientAdmission.asmx"/>
    <add key="ESQueryService" value="http://01HW107420:8383/eHISESQRYSERVICE/QueryService.asmx"/>
    <add key="ESAppointments" value="http://01HW107420:8383/eHISESQRYSERVICE/BookAppointment.asmx"/>
    <add key="RegistrationQueryService" value="http://01HW107420:8383/eHISREGISTRATIONQRYSERVICE/QueryService.asmx"/>
    <add key="ATQueryService" value="http://01HW107420:8383/eHISATQRYSERVICE/QueryService.asmx"/>
    <add key="BillingQueryService" value="http://01HW107420:8383/eHISBILLINGQRYSERVICE/QueryService.asmx"/>
    <add key="HRQueryService" value="http://01HW107420:8383/eHISHRQRYSERVICE/QueryService.asmx"/>
    <add key="WardsQueryService" value="http://01HW107420:8383/eHISWARDSQRYSERVICE/QueryService.asmx"/>
    <add key="OTQueryService" value="http://01HW107420:8383/eHISOTQRYSERVICE/QueryService.asmx"/>-->
    <add key="ATService" value="http://10.6.50.5:8385/EHISATQRYSERVICE/QueryService.asmx" />
    <add key="ESQueryService" value="http://10.6.50.5:8385/eHISESQRYSERVICE/QueryService.asmx"/>
    <add key="ESAppointments" value="http://10.6.50.5:8385/eHISESQRYSERVICE/BookAppointment.asmx"/>
    <add key="RegistrationQueryService" value="http://10.6.50.5:8385/EHISREGISTRATIONQRYSERVICE/QueryService.asmx" />
    <add key="BillingQueryService" value="http://10.6.50.5:8385/EHISBILLINGQRYSERVICE/QueryService.asmx"/>
    <add key="HRQueryService" value="http://10.6.50.5:8385/EHISHRQRYSERVICE/QueryService.asmx" />
    <add key="WardsQueryService" value="http://10.6.50.5:8385/EHISWARDSQRYSERVICE/QueryService.asmx" />
    <add key="BloodBankQueryService" value="http://10.6.50.5:8385/eHISBBQRYSERVICE/QueryService.asmx" />
    <add key="OTQueryService" value="http://10.6.50.5:8385/eHISOTQRYSERVICE/QueryService.asmx"/>
    <add key="OTConfigXmlFilePath" value="D:\Apollo_Sep_29\PathConfigs\eHISAppConfigXmlFilePath-MUM-MOCK - UATDB\OT\Configuration.xml"/>
    <add key="ReduceSerialization" value="1"/>
    <add key="ReduceTime" value="1"/>
    <add key="ServiceCall" value="0"/>
    <add key="CheckToLogData" value="true"/>
    <add key="CheckDataRows" value="750"/>
    <add key="CheckToLogDetailedData" value="false"/>
    <add key="ServiceName" value="OTBPService"/>
    <!-- change for the Servicelocator-->
    <add key="HostedEnvironment" value="MUM_QR_DEVORC"/>
    <!--To enable or disable the logs for Save / Update in OracleDataAccessHelper-->
    <add key="CheckToLogSaveData" value="true"/>
    <!--To log for Save / Update in OracleDataAccessHelper, only if time span is greater than below value in Seconds-->
    <add key="CheckTimeSpan" value="5"/>
    <!--Flag to check whether to log if the number of rows returned are less, but taken more time-->
    <add key="CheckToLogDuration" value="True"/>
  </appSettings>
  <connectionStrings>
    <add name="eHisDatabase" connectionString="Data Source = (DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.6.50.7)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=EHISMUM))); User Id = SECURITYTEST_64_MPROD; Password = SECURITYTEST_64_MPROD; Pooling=true; Max pool size=100; Min pool size=1; Incr Pool Size = 5; Decr Pool Size = 3;Connection Timeout=15; Connection Lifetime=0;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="authorizerDatabase" connectionString="Data Source = (DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.6.50.7)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=EHISMUM))); User Id = SECURITYTEST_64_MPROD; Password = SECURITYTEST_64_MPROD; Pooling=true; Max pool size=100; Min pool size=1; Incr Pool Size = 5; Decr Pool Size = 3;Connection Timeout=15; Connection Lifetime=0;" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="OTBPServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!-- 
          The serviceMetadata behavior allows one to enable metadata (e.g. WSDL, Policy) publishing.
          This configuration enables publishing of such data over HTTP GET.
          -->
          <serviceMetadata httpGetEnabled="true"/>
          <serviceCredentials>
            --><!-- 
            The serviceCredentials behavior allows one to define validation parameters for issued tokens.
            This configuration adds the "STS" certificate to a list of known certificates. This
            means that the service will accept tokens issued by "STS".
            -->
            <issuedTokenAuthentication>
              <knownCertificates>
                <add storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindBySubjectDistinguishedName" findValue="CN=STS"/>
              </knownCertificates>
            </issuedTokenAuthentication>
            <!-- 
            The serviceCredentials behavior allows one to define a service certificate.
            A service certificate is used by a client to authenticate the service and provide message protection.
            This configuration references the "localhost" certificate installed during setup of the sample.
            -->
            <serviceCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySerialNumber" findValue="12D6B6B52898809644402E55606F1846"/>
          </serviceCredentials>
          <serviceAuthorization serviceAuthorizationManagerType="eHIS.Registration.ServiceImplementation.PatientRegistartionManagerAuthorizer, eHIS.Registration.ServiceImplementation" principalPermissionMode="Custom"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="OTBPServiceBehaviour" name="eHIS.OTBP.ServiceImplementation.OTBPManager">
        <!--<endpoint address="http://localhost:2877/OTBPManager.svc"
         binding="wsFederationHttpBinding" bindingConfiguration="ApolloFederationBinding"
         contract="eHIS.OTBP.ServiceContracts.IOTBPManager" />-->
        <endpoint address="http://localhost:2877/OTBPManager.svc" binding="wsHttpBinding" bindingConfiguration="transactionalWsatHttpBinding" contract="eHIS.OTBP.ServiceContracts.IOTBPManager"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="transactionalWsatHttpBinding" transactionFlow="true"/>
      </wsHttpBinding>
      <!--<wsFederationHttpBinding>
        <binding name="ApolloFederationBinding" transactionFlow="true" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Message">
            <message issuedKeyType="SymmetricKey" issuedTokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1">
              --><!-- Metadata address for Security Token Service --><!--
              <issuerMetadata address="http://01HW107420:8383/EHISSECURITYSERVICE/SecurityManager.svc/mex">
                <identity>
                  <certificateReference storeLocation="CurrentUser" storeName="TrustedPeople" x509FindType="FindBySubjectDistinguishedName" findValue="CN=STS"/>
                </identity>
              </issuerMetadata>
            </message>
          </security>bh
        </binding>
      </wsFederationHttpBinding>-->
    </bindings>
  </system.serviceModel>
  <!-- Before deployment, you should remove the returnFaults behavior configuration to avoid disclosing information in exception messages -->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="SMDiagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>

        <add assembly="Microsoft.Transactions.Bridge, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.IdentityModel.Selectors, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>