<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <configSections>
    <section name="enterpriseLibrary.ConfigurationSource" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.ConfigurationSourceSection, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <enterpriseLibrary.ConfigurationSource selectedSource="File Configuration Source">
    <sources>
      <add name="File Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.FileConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null" filePath="ApplicationBlocks.config"/>
      <add name="System Configuration Source" type="Microsoft.Practices.EnterpriseLibrary.Common.Configuration.SystemConfigurationSource, Microsoft.Practices.EnterpriseLibrary.Common, Version=3.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    </sources>
  </enterpriseLibrary.ConfigurationSource>
  <appSettings>
    <add key="ReplacePolicy" value="Exception Replace Policy"/>
    <!--<add key="ReplacePolicy" value="Exception Replace Policy"/>
    <add key="BillingService" value="http://01hw107240:8383/EHISBILLINGQRYSERVICE/QueryService.asmx"/>
    <add key="ATService" value="http://01hw107240:8383/EHISATSERVICE/PatientAdmission.asmx" />
    <add key="RegistrationQueryService" value="http://01hw107240:8383/EHISREGISTRATIONQRYSERVICE/QueryService.asmx" />
    <add key="ATQueryService" value="http://01hw107240:8383/EHISATQRYSERVICE/QueryService.asmx" />
    <add key="HRQueryService" value="http://01hw107240:8383/EHISHRQRYSERVICE/QueryService.asmx" />
    <add key="WardsQueryService" value="http://748vk1s/WardsQueryServiceAsmx/QueryService.asmx" />
    <add key="eHISMastersQueryService" value="http://01hw107240:8383/EHISMASTERSERVICE/QueryService.asmx" />
    <add key="BillingQueryService" value="http://01hw107240:8383/EHISBILLINGQRYSERVICE/QueryService.asmx"/>-->
    <add key="ATService" value="http://01hw089054/eHISATASMXSERVICE/PatientAdmission.asmx"/>
    <add key="DCRegistrationQueryService" value="http://01hw107240:8384/EHISREGISTRATIONSERVICE/QueryService.asmx"/>
    <add key="ESQueryService" value="http://378vk1s/eHISESQueryService/QueryService.asmx"/>
    <add key="ESAppointments" value="http://378vk1s/eHISESQueryService/BookAppointment.asmx"/>
    <add key="RegistrationQueryService" value="http://01hw089054/eHISRegistrationQueryService/QueryService.asmx"/>
    <add key="ATQueryService" value="http://01hw089054/eHISATASMXQueryService/QueryService.asmx"/>
    <add key="AmbulanceQueryService" value="http://01hw107240:8383/eHISAMBULANCEQRYSERVICE/QueryService.asmx"/>
    <!--<add key="BillingQueryService" value="http://1n1-09/eHISWCFService/QueryService.asmx" />-->
    <add key="BillingQueryService" value="http://01hw120549/eHISBillingWCFQueryService/QueryService.asmx"/>
    <!--<add key="BillingQueryService"  value="http://01hw120783/eHISBillingWCFQueryService/QueryService.asmx"/>-->
    <add key="CRMQueryService" value="http://01hw107240:8383/eHISCRMQRYSERVICE/QueryService.asmx"/>
    <!--<add key="HRQueryService" value="http://l9a0686/HRQueryServices/QueryService.asmx" />-->
    <!--<add key="HRQueryService" value="http://01hw120488/HRQueryService/QueryService.asmx" />-->
    <!--<add key="HRQueryService" value="http://01hw120488/HRQueryService/QueryService.asmx" />-->
    <add key="HRQueryService" value="http://01hw120550/HRQUERYSERVICES/QueryService.asmx"/>
    <add key="LabQueryService" value="http://01hw101622/LabQueryServices/QueryService.asmx"/>
    <add key="WardsQueryService" value="http://localhost:2223/QueryService.asmx"/>
    <!--<add key="WardsQueryService" value="http://748vk1s/WardsQueryServiceAsmx/QueryService.asmx" />-->
    <add key="BloodBankQueryService" value="http://01hw101663/BloodBankQueryService/QueryService.asmx"/>
    <add key="FNBQueryService" value="http://01hw150891/eHISFNBQueryService/QueryService.asmx"/>
    <add key="MMQueryService" value="http://01hw107240:8383/eHISMMQRYSERVICE/QueryService.asmx"/>
    <add key="PharmacyQueryService" value="http://01hw150892/eHISPharmacyQueryservice/QueryService.asmx"/>
    <add key="TokenManagementService" value="http://01hw107240:8383/eHISTokenManagementService/TokenManagementService.asmx"/>
    <add key="eHISMastersQueryService" value="http://01hw107240:8383/eHISMasterService/QueryService.asmx"/>
    <add key="FileUploadService" value="http://172.19.56.158/FileUpload/FileService.asmx"/>
    <add key="LDAPServices" value="http://01hw107240:8383/LDAPService/LDAPWebServ.asmx"/>
    <add key="PFQueryService" value="http://172.19.56.158/ProcessflowQuery/PFQueryService.asmx"/>
    <add key="RadiologyQueryService" value="http://01hw120686/RadiologyQueryService/QueryService.asmx"/>
    <add key="WARDSConfigXmlFilePath" value="C:\eHISCode-BaseLine\eHISServices\eHISApplicationConfigXmlFileServices\Wards\eHISConfiguration.xml"/>
    <add key="ReduceSerialization" value="1"/>
    <add key="HostedEnvironment" value="CHN_MIG_UAT" />
  </appSettings>
  <connectionStrings>
    <add name="eHisDatabase" connectionString="Data Source = (DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.44.8.38)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=EHISCHN))); User Id = SECURITYTEST_64_CHPROD; Password = SECURITYTEST_64_CHPROD; Pooling=true; Max pool size=100; Min pool size=1; Incr Pool Size = 5; Decr Pool Size = 3;Connection Timeout=15; Connection Lifetime=0;" providerName="Oracle.ManagedDataAccess.Client" />
    <add name="AuthorizerDatabase" connectionString="Data Source = (DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=10.44.8.38)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SERVICE_NAME=EHISCHN))); User Id = SECURITYTEST_64_CHPROD; Password = SECURITYTEST_64_CHPROD; Pooling=true; Max pool size=100; Min pool size=1; Incr Pool Size = 5; Decr Pool Size = 3;Connection Timeout=15; Connection Lifetime=0;" providerName="Oracle.ManagedDataAccess.Client" />
  </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <!-- <add name="SqlClient Data Provider" invariant="System.Data.SqlClient" description=".Net Framework Data Provider for SqlServer" type="System.Data.SqlClient.SqlClientFactory, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/> -->

      <!-- <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.6.4.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" /> -->

      <!-- <add name="SQL Server Everywhere Edition Data Provider" invariant="System.Data.SqlServerCe" description=".NET Framework Data Provider for Microsoft SQL Server Everywhere Edition" type="System.Data.SqlServerCe.SqlCeProviderFactory, System.Data.SqlServerCe, Version=9.0.242.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" /> -->

      <add name="Oracle Data Provider for .NET" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.1.0, Culture=neutral, PublicKeyToken=89b483f429c47342" />
    </DbProviderFactories>
  </system.data>
  
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="WardsBPServiceBehaviour">
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!-- 
          The serviceMetadata behavior allows one to enable metadata (e.g. WSDL, Policy) publishing.
          This configuration enables publishing of such data over HTTP GET.
          -->
          <serviceMetadata httpGetEnabled="true"/>
          <serviceCredentials>
            <!-- 
            The serviceCredentials behavior allows one to define validation parameters for issued tokens.
            This configuration adds the "STS" certificate to a list of known certificates. This
            means that the service will accept tokens issued by "STS".
            -->
            <!--<issuedTokenAuthentication>
              <knownCertificates>
                <add storeLocation="LocalMachine" storeName="TrustedPeople" x509FindType="FindBySubjectDistinguishedName" findValue="CN=STS"/>
              </knownCertificates>
            </issuedTokenAuthentication>-->
            <!-- 
            The serviceCredentials behavior allows one to define a service certificate.
            A service certificate is used by a client to authenticate the service and provide message protection.
            This configuration references the "localhost" certificate installed during setup of the sample.
            -->
            <!--<serviceCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindBySerialNumber" findValue="17B3CFCC92EC82AF4D880B8A64F9C9F0"/>-->
          </serviceCredentials>
          <!--<serviceAuthorization serviceAuthorizationManagerType="eHIS.Registration.ServiceImplementation.PatientRegistartionManagerAuthorizer, eHIS.Registration.ServiceImplementation" principalPermissionMode="Custom"/> -->
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service name="eHIS.WardsBP.ServiceImplementation.WardsBPManager" behaviorConfiguration="WardsBPServiceBehaviour">
        <endpoint address="http://localhost:4779/WardsBPManager.svc" binding="wsHttpBinding" bindingConfiguration="transactionalWsatHttpBinding" contract="eHIS.WardsBP.ServiceContracts.IWardsBPManager"/>
        <!--<endpoint address="http://01hw089066/eHISWardsBP/WardsBPManager.svc" binding="wsFederationHttpBinding" bindingConfiguration="ApolloFederationBinding" contract="eHIS.WardsBP.ServiceContracts.IWardsBPManager"/>-->
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
      </service>
    </services>
    <bindings>
      <wsHttpBinding>
        <binding name="transactionalWsatHttpBinding" transactionFlow="true"/>
      </wsHttpBinding>
      <wsFederationHttpBinding>
        <!-- Service binding using SAML and symmetric proof keys -->
        <!--<binding name="ApolloFederationBinding" transactionFlow="true">-->
        <!--<binding name="ServiceFederationBinding" transactionFlow="true" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />-->
        <binding name="ApolloFederationBinding" transactionFlow="true" maxReceivedMessageSize="2147483647" maxBufferPoolSize="2147483647">
          <readerQuotas maxDepth="2147483647" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647"/>
          <security mode="Message">
            <message issuedKeyType="SymmetricKey" issuedTokenType="http://docs.oasis-open.org/wss/oasis-wss-saml-token-profile-1.1#SAMLV1.1">
              <!-- Metadata address for Security Token Service -->
              <issuerMetadata address="http://localhost:4779/WardsBPManager.svc/mex">
                <identity>
                  <certificateReference storeLocation="CurrentUser" storeName="TrustedPeople" x509FindType="FindBySubjectDistinguishedName" findValue="CN=STS"/>
                </identity>
              </issuerMetadata>
            </message>
          </security>
        </binding>
      </wsFederationHttpBinding>
    </bindings>
  </system.serviceModel>
  <!-- Before deployment, you should remove the returnFaults behavior configuration to avoid disclosing information in exception messages -->
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.7.2" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.7.2">
      <assemblies>
        <add assembly="SMDiagnostics, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <!--<add assembly="Oracle.DataAccess, Version=2.102.2.20, Culture=neutral, PublicKeyToken=89B483F429C47342"/>-->
        <add assembly="Microsoft.Transactions.Bridge, Version=3.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.IdentityModel.Selectors, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Messaging, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
      </assemblies>
    </compilation>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
</configuration>